
.example-container {
  display: flex;
  flex-direction: row;
}

.example-container > * {
  width: 500px;

}
.mat-form-field{
  width: 1100px;
  text-align: center;
  margin: auto;
}

h1.title{

	  color: grey;
	  font-family:'Helvetica';

}


.button {
  display: inline-block;
  border-radius: 1px;
  background-color: #A67ABB;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button2:hover span:after {
  opacity: 1;
  right: 0;
}