 <mat-tab-group style="overflow: scroll;background-color: white"> 
 <mat-tab  label="Realizar Registro">  
 <nav style="height: 50px;margin-left:30px;margin-right: 30px;" class="navbar navbar-dark bg-primary">
  <span style="text-align: center; color: white;" class="navbar-brand mb-0 h1">Registrar Ventas</span>
</nav>
<div class="container" style="padding-top: 20px; ">

<app-vender></app-vender>
  
</div>
<div class="jumbotron">
<app-listaproductos></app-listaproductos>

</div>
</mat-tab>
  <mat-tab label="Historial de ventas"><app-registroventas></app-registroventas></mat-tab>

</mat-tab-group>

